bin
obj
*.suo
*.user
*.PublishSettings
PublishProfiles
packages
node_modules
*/publish/
.cr
/.vs*
/Build/VersionAssemblyInfo.cs
/.test-results
Generated
/Laan.SqlFormatter.VsCode/dist
/Laan.SqlFormatter.VsCode/*.vsix
