<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <log4net>

    <appender name="nh" type="NHibernate.Appender.NHibernateAppender,NHibernate.Appender">
      <param name="FileName" value="${TEMP}\AoMLogs\${USERNAME}-ClientSQL.log" />
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
    </appender>

    <logger name="Laan" additivity="false">
      <appender-ref ref="nh" />
      <level value="ALL" />
    </logger>

    <logger name="NHibernate">
      <level value="ERROR" />
    </logger>
  </log4net>
</configuration>