<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs" xmlns:ui="http://wixtoolset.org/schemas/v4/wxs/ui">

    <?include Version.wxi ?>
    <?define Configuration="Release" ?>

    <Package Name="Laan Sql Tools" Manufacturer="Laan Software" Version="$(var.ProductVersion)" UpgradeCode="003b391c-5307-414a-ab71-1552a663603c">
        <Property Id="SSMS18_INSTALLED">
            <DirectorySearch Id="CheckSSMS18" Path="[ProgramFilesFolder]Microsoft SQL Server Management Studio 18" />
        </Property>
        <Property Id="SSMS19_INSTALLED">
            <DirectorySearch Id="CheckSSMS19" Path="[ProgramFilesFolder]Microsoft SQL Server Management Studio 19" />
        </Property>
        <Property Id="SSMS20_INSTALLED">
            <DirectorySearch Id="CheckSSMS20" Path="[ProgramFilesFolder]Microsoft SQL Server Management Studio 20" />
        </Property>

        <Media Id="1" Cabinet="Laan.Sql.Tools.cab" EmbedCab="yes" />
        <ui:WixUI Id="WixUI_FeatureTree" />

        <ComponentGroup Id="SqlFormat.ConsoleApp">
            <ComponentRef Id="Formatter.sqlformat.exe" />
            <ComponentRef Id="Formatter.sqlformat.dll" />
            <ComponentRef Id="Formatter.Laan.Sql.Parser.dll" />
            <ComponentRef Id="Formatter.Laan.Sql.Formatter.dll" />
        </ComponentGroup>

        <ComponentGroup Id="VsExtension2018">
            <ComponentRef Id="VsExtension.Laan.AddIns.Ssms.VsExtension2018" />
            <ComponentRef Id="VsExtension.Laan.Sql.Formatter2018" />
            <ComponentRef Id="VsExtension.Laan.Sql.Parser2018" />
            <ComponentRef Id="extension.vsixmanifest2018" />
            <ComponentRef Id="Laan.AddIns.Ssms.vsix2018" />
        </ComponentGroup>

        <ComponentGroup Id="VsExtension2019">
            <ComponentRef Id="VsExtension.Laan.AddIns.Ssms.VsExtension2019" />
            <ComponentRef Id="VsExtension.Laan.Sql.Formatter2019" />
            <ComponentRef Id="VsExtension.Laan.Sql.Parser2019" />
            <ComponentRef Id="extension.vsixmanifest2019" />
            <ComponentRef Id="Laan.AddIns.Ssms.vsix2019" />
        </ComponentGroup>

        <ComponentGroup Id="VsExtension2020">
            <ComponentRef Id="VsExtension.Laan.AddIns.Ssms.VsExtension2020" />
            <ComponentRef Id="VsExtension.Laan.Sql.Formatter2020" />
            <ComponentRef Id="VsExtension.Laan.Sql.Parser2020" />
            <ComponentRef Id="extension.vsixmanifest2020" />
            <ComponentRef Id="Laan.AddIns.Ssms.vsix2020" />
        </ComponentGroup>

        <DirectoryRef Id="Laan.Sql.Tools">
            <Component Id="Formatter.sqlformat.exe"><File Source="..\Laan.Sql.Formatter.Console\bin\$(var.Configuration)\net9.0\sqlformat.exe" /></Component>
            <Component Id="Formatter.sqlformat.dll"><File Source="..\Laan.Sql.Formatter.Console\bin\$(var.Configuration)\net9.0\sqlformat.dll" /></Component>
            <Component Id="Formatter.Laan.Sql.Parser.dll"><File Source="..\Laan.Sql.Formatter.Console\bin\$(var.Configuration)\net9.0\Laan.Sql.Parser.dll" /></Component>
            <Component Id="Formatter.Laan.Sql.Formatter.dll"><File Source="..\Laan.Sql.Formatter.Console\bin\$(var.Configuration)\net9.0\Laan.Sql.Formatter.dll" /></Component>
        </DirectoryRef>

        <StandardDirectory Id="ProgramFilesFolder">
            <Directory Name="Microsoft SQL Server Management Studio 18">
                <Directory Name="Common7">
                    <Directory Name="IDE">
                        <Directory Name="Extensions">
                            <Directory Name="Laan.Sql.Tools">
                                <Component Id="VsExtension.Laan.AddIns.Ssms.VsExtension2018" Condition="SSMS18_INSTALLED">
                                    <File Source="..\Laan.AddIns.Ssms.VsExtension\bin\$(var.Configuration)\Laan.AddIns.Ssms.dll" />
                                </Component>
                                <Component Id="VsExtension.Laan.Sql.Formatter2018" Condition="SSMS18_INSTALLED">
                                    <File Source="..\Laan.AddIns.Ssms.VsExtension\bin\$(var.Configuration)\Laan.Sql.Formatter.dll" />
                                </Component>
                                <Component Id="VsExtension.Laan.Sql.Parser2018" Condition="SSMS18_INSTALLED">
                                    <File Source="..\Laan.AddIns.Ssms.VsExtension\bin\$(var.Configuration)\Laan.Sql.Parser.dll" />
                                </Component>
                                <Component Id="extension.vsixmanifest2018" Condition="SSMS18_INSTALLED">
                                    <File Source="..\Laan.AddIns.Ssms.VsExtension\bin\$(var.Configuration)\extension.vsixmanifest" />
                                </Component>
                                <Component Id="Laan.AddIns.Ssms.vsix2018" Condition="SSMS18_INSTALLED">
                                    <File Source="..\Laan.AddIns.Ssms.VsExtension\bin\$(var.Configuration)\Laan.AddIns.Ssms.pkgdef" />
                                </Component>
                            </Directory>
                        </Directory>
                    </Directory>
                </Directory>
            </Directory>

            <Directory Name="Microsoft SQL Server Management Studio 19">
                <Directory Name="Common7">
                    <Directory Name="IDE">
                        <Directory Name="Extensions">
                            <Directory Name="Laan.Sql.Tools">
                                <Component Id="VsExtension.Laan.AddIns.Ssms.VsExtension2019" Condition="SSMS19_INSTALLED">
                                    <File Source="..\Laan.AddIns.Ssms.VsExtension\bin\$(var.Configuration)\Laan.AddIns.Ssms.dll" />
                                </Component>
                                <Component Id="VsExtension.Laan.Sql.Formatter2019" Condition="SSMS19_INSTALLED">
                                    <File Source="..\Laan.AddIns.Ssms.VsExtension\bin\$(var.Configuration)\Laan.Sql.Formatter.dll" />
                                </Component>
                                <Component Id="VsExtension.Laan.Sql.Parser2019" Condition="SSMS19_INSTALLED">
                                    <File Source="..\Laan.AddIns.Ssms.VsExtension\bin\$(var.Configuration)\Laan.Sql.Parser.dll" />
                                </Component>
                                <Component Id="extension.vsixmanifest2019" Condition="SSMS19_INSTALLED">
                                    <File Source="..\Laan.AddIns.Ssms.VsExtension\bin\$(var.Configuration)\extension.vsixmanifest" />
                                </Component>
                                <Component Id="Laan.AddIns.Ssms.vsix2019" Condition="SSMS19_INSTALLED">
                                    <File Source="..\Laan.AddIns.Ssms.VsExtension\bin\$(var.Configuration)\Laan.AddIns.Ssms.pkgdef" />
                                </Component>
                            </Directory>
                        </Directory>
                    </Directory>
                </Directory>
            </Directory>

            <Directory Name="Microsoft SQL Server Management Studio 20">
                <Directory Name="Common7">
                    <Directory Name="IDE">
                        <Directory Name="Extensions">
                            <Directory Name="Laan.Sql.Tools">
                                <Component Id="VsExtension.Laan.AddIns.Ssms.VsExtension2020" Condition="SSMS20_INSTALLED">
                                    <File Source="..\Laan.AddIns.Ssms.VsExtension\bin\$(var.Configuration)\Laan.AddIns.Ssms.dll" />
                                </Component>
                                <Component Id="VsExtension.Laan.Sql.Formatter2020" Condition="SSMS20_INSTALLED">
                                    <File Source="..\Laan.AddIns.Ssms.VsExtension\bin\$(var.Configuration)\Laan.Sql.Formatter.dll" />
                                </Component>
                                <Component Id="VsExtension.Laan.Sql.Parser2020" Condition="SSMS20_INSTALLED">
                                    <File Source="..\Laan.AddIns.Ssms.VsExtension\bin\$(var.Configuration)\Laan.Sql.Parser.dll" />
                                </Component>
                                <Component Id="extension.vsixmanifest2020" Condition="SSMS20_INSTALLED">
                                    <File Source="..\Laan.AddIns.Ssms.VsExtension\bin\$(var.Configuration)\extension.vsixmanifest" />
                                </Component>
                                <Component Id="Laan.AddIns.Ssms.vsix2020" Condition="SSMS20_INSTALLED">
                                    <File Source="..\Laan.AddIns.Ssms.VsExtension\bin\$(var.Configuration)\Laan.AddIns.Ssms.pkgdef" />
                                </Component>
                             </Directory>
                        </Directory>
                    </Directory>
                </Directory>
            </Directory>

            <Directory Name="Laan Software">
                <Directory Id="Laan.Sql.Tools" Name="SqlFormat" />
            </Directory>

        </StandardDirectory>

        <Feature Id="SMS.Integration" Title="SSMS Integration" Level="1">
            <ComponentGroupRef Id="VsExtension2018" />
            <ComponentGroupRef Id="VsExtension2019" />
            <ComponentGroupRef Id="VsExtension2020" />
        </Feature>

        <Feature Id="SqlFormat.CommandLine" Title="Sql Format command line tool">
            <ComponentGroupRef Id="SqlFormat.ConsoleApp" />
        </Feature>
    </Package>
</Wix>
